<div class="card">
  <div class="card-header">
    <p>Traning Tacker</p>
    <button
      class="btn btn-primary"
      routerLinkActive="active"
      [routerLink]="['/application']"
    >
      Go TO APP
    </button>

    <button
      class="btn btn-primary"
      routerLinkActive="active"
      [routerLink]="['/trainings']"
    >
      Trainings
    </button>

    <button
      class="btn btn-primary"
      routerLinkActive="active"
      [routerLink]="['/addingExercises']"
    >
      Adding exercises
    </button>

    <button
      class="btn btn-primary"
      routerLinkActive="active"
      [routerLink]="['/graphs']"
    >
      Graphs
    </button>

    <button
      class="btn btn-primary"
      routerLinkActive="active"
      [routerLink]="['/settings']"
    >
      Settings
    </button>
    <button
      class="btn btn-primary"
      routerLinkActive="active"
      [routerLink]="['/tutorials']"
    >
      Tutorials
    </button>

    <router-outlet></router-outlet>
  </div>
</div>
