<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">Trainings</div>
      </div>
      <div class="row">
        <div class="col-md-4">Adding exercises</div>
      </div>
      <div class="row">
        <div class="col-md-4">Graphs</div>
      </div>
      <div class="row">
        <div class="col-md-4">Settings</div>
      </div>
      <div class="row">
        <div class="col-md-4">Tutorials</div>
      </div>
    </div>
  </div>
</div>
